body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;

    background: linear-gradient(135deg, #0f172a, #1e293b);
    font-family: Arial, sans-serif;

    overflow-x: hidden;
}

/* LOGIN BOX */
.login-box {
    background: rgba(30, 41, 59, 0.95);

    padding: 35px;
    border-radius: 15px;

    width: 100%;
    max-width: 420px;

    box-sizing: border-box;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* TITLE */
.login-box h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}

/* INPUTS */
input {
    width: 100%;
    box-sizing: border-box;

    padding: 12px;
    margin: 10px 0;

    border: none;
    border-radius: 8px;
    outline: none;
}

/* PASSWORD BOX */
.password-box {
    position: relative;
    width: 100%;
}

.password-box input {
    padding-right: 40px;
}

/* EYE ICON */
.password-box i {
    position: absolute;
    right: 12px;
    top: 50%;

    transform: translateY(-50%);
    cursor: pointer;
    color: #38bdf8;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;

    background: #38bdf8;
    border: none;
    border-radius: 8px;

    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #0ea5e9;
}

/* ERROR TEXT */
#error {
    color: #ff4d4d;
    font-size: 13px;
    margin-top: 5px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
    .login-box {
        width: 92%;
        max-width: 92%;
        padding: 25px;
        border-radius: 12px;
    }

    input {
        padding: 14px;
        font-size: 14px;
    }

    button {
        padding: 14px;
        font-size: 15px;
    }
}